<div class="wrapper">
	<header>
		<h1>{{title}}</h1>
	</header>

	<div class="list">
		<h2>My tasks</h2>
		<ul class="tasks">
			<!-- <li *ngFor="let task of tasks" (click)="onSelect(task)" [class.selected]="task === selectedTask"> -->
			<li *ngFor="let task of tasks" (click)="onSelect(task)">
				<span class="badge">{{task.id}}</span>{{task.name}}
			</li>
		</ul>
	</div>

	<div class="detail" *ngIf="selectedTask">
		<h2>{{selectedTask.name}} details!</h2>
		<div><label>id: </label>{{selectedTask.id}}</div>
		<div>
			<label>name: </label>
			<input [(ngModel)]="selectedTask.name" placeholder="name">
		</div>
	</div>
	<footer>
		<p>2021 swazi</p>
	</footer>
</div>